<div id="<%= dom_id screener %>">
  <p>
    <strong>Name:</strong>
    <%= screener.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= screener.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= screener.amount %>
  </p>

</div>
