<p style="color: green"><%= notice %></p>

<% content_for :title, "Screeners" %>

<h1>Screeners</h1>

<div id="screeners">
  <% @screeners.each do |screener| %>
    <%= render screener %>
    <p>
      <%= link_to "Show this screener", screener %>
    </p>
  <% end %>
</div>

<%= link_to "New screener", new_screener_path %>
