@use "bootstrap/scss/bootstrap";
@use "bootstrap-icons/font/bootstrap-icons";
@use "tom-select/dist/css/tom-select.bootstrap5";

$bootstrap-icons-font-src: url("bootstrap-icons.woff2") format("woff2"), url("fonts/bootstrap-icons.woff") format("woff") !default;

// Your admin-specific styles here
.bg-custom-light-gray {
  background-color: #c2c2c2;
}

input[readonly], textarea[readonly], input[readonly]:focus, textarea[readonly]:focus {
  background-color: #c2c2c2; /* Change this to your desired color */
}

thead.table-dark a {
  color: lightblue;
}

.table-for-show {
  .title-header {
    background-color: #c2c2c2;
    color: black;
    margin: 0;
    padding: .5rem;
  }
  
  th {
    background-color: #ebeaea;
    width: 15%;
  }
}

.player-search-container {
  min-width: 300px;
  position: relative;
}

.player-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
